* {
  margin: 0;
  padding: 0;
}
.task {
  position: relative;
  background-color: green;
  display: flex;
  overflow: visible;
  min-width: 200px; 
  width: max-content;      
  white-space: nowrap;
  height: auto;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding: 10px;
}
.filhos {
  position: absolute;
  display: block;

  left: 100%;
  top: 0;
  width: 200px;
  height: 100px;
}
.coluna {
  height: 100%;
  background-color: aqua;
}
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* sombra escura */
  justify-content: center;
  align-items: center;
}